*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.sun{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    /* background-color: rgb(255, 106, 0);
    box-shadow: 0 0 75px rgba(265,151,0,1); */
    position: absolute;
    background: url('../Pictures/sun.png');
    border: none;
    background-size:cover;
}
.solar-system{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('https://cdn.pixabay.com/photo/2023/08/14/15/42/milkyway-8190232_640.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.earth
{
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background: url('../Pictures/earth.png');
    position: relative;
    border: none;
    background-size: cover;
    animation: earth-orbit 7s linear infinite;
}
.earth:after{
    content: "";
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: absolute;
    background: url('../Pictures/moon.png');
    border: none;
    background-size: cover;
    animation: moon-orbit 3.5s linear infinite;
}
@keyframes earth-orbit
{
    from
    {
        transform: rotate(0deg) translatex(220px) rotate(0deg);
    }
    to
    {
        transform: rotate(360deg) translatex(220px) rotate(-300deg);
    }
}
@keyframes moon-orbit
{
    from
    {
        transform: rotate(0deg) translatex(75px) rotate(0deg);
    }
    to
    {
        transform: rotate(360deg) translatex(75px) rotate(-300deg);
    }
}